# BASE_URL=http://localhost:5777/v1
# MODEL=anything
# API_KEY=test



BASE_URL=https://api.mistral.ai/v1
MODEL=codestral-latest
API_KEY=
EMBED_MODEL=mistral-embed

LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_BASE_URL="http://localhost:3000"